.tooltip {
  border: solid 1px black;
  background: #ffffaa;
}

.treemenu {
  background-color:#aaffff;
  width: 80px;
  white-space: nowrap;
  vertical-align: top;
}
.mainarea {
  background-color:#aaaaff;
  border: solid 1px green;
  vertical-align: top;
  height: 100%;
}
