Source: tntnet
Priority: optional
Maintainer: hotspot <t.maekitalo@epgmbh.de>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: tntnet-dev
Section: devel
Architecture: any
Depends: tntnet-base (= ${Source-Version})
Description: Web-application-server
 <insert long description, indented with spaces>

Package: tntnet-base
Section: web
Architecture: any
Depends: ${shlibs:Depends}, cxxtools (>= 1.1)
Description: Web-application-server
 <insert long description, indented with spaces>

Package: tntnet
Section: web
Architecture: any
Depends: ${shlibs:Depends}, tntnet-base
Conflicts: httpd
Provides: httpd
Description: Web-application-server
 <insert long description, indented with spaces>
