Source: tntnet
Priority: optional
Maintainer: Tommi Maekitalo <tommi@tntnet.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: tntnet-base
Section: web
Architecture: any
Depends: ${shlibs:Depends}, libcxxtools (>= 1.4.0)
Description: Web-application-server
 tntnet is a webapplication-server for webapplications written in c++.
 It uses a template-language, where you can embed c++-code inside
 html-pages.
 tntnet is multithreaded, fast and small.
 -
 This package contains the shared libraries, some standard-components and
 the webapplicationserver without configurationfiles.

Package: tntnet-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tntnet-base
Description: Web-application-server
 tntnet is a webapplication-server for webapplications written in c++.
 It uses a template-language, where you can embed c++-code inside
 html-pages.
 tntnet is multithreaded, fast and small.
 -
 This package contains the precompilers to create webapplications for tntnet.

Package: tntnet-server
Section: web
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, tntnet-base
Conflicts: httpd
Provides: httpd
Replaces: tntnet
Description: Web-application-server
 tntnet is a webapplication-server for webapplications written in c++.
 It uses a template-language, where you can embed c++-code inside
 html-pages.
 tntnet is multithreaded, fast and small.
 -
 This package contains the configurationfiles to run tntnet as a regular
 webserver.
