BODY,H1,H2,H3,H4,H5,H6,P,CENTER,TD,TH,UL,DL,DIV {
a
}
BODY,TD {
    font-family:Arial;
    font-size: 90%;
}
H1 {
	color:#f7800a;
    background-color: #f0f0f0;
    border: 1px solid #CCCCCC;
    padding-bottom:7px;
    padding-top:7px;
    text-align: center;
    font-size: 180%;
    -moz-border-radius: 12px 12px 12px 12px;
}
H2 {
    font-size: 150%;
	font-weight:bold;
    /*color: #154374;*/
	color:#f7800a;
    padding-left: 24px;
    background: url(section_head.png) no-repeat left center;
    position: relative;
}
H3 {
       font-size: 120%;
       color: #154374;
}
CAPTION {
        font-weight: bold
}
DIV.qindex {
    width: 100%;
    background-color: #f0f0f0;
    border: 1px solid #CCCCCC;
    text-align: center;
    margin: 2px;
    padding: 2px;
    line-height: 140%;
}

/* Do not display navigation on top of class doc */
DIV.nav {
       display:none;
       width: 100%;
       text-align: center;
       margin: 2px;
       padding: 2px;
       line-height: 140%;
}
DIV.navtab {
       background-color: #e8eef2;
       border: 1px solid #84b0c7;
       text-align: center;
       margin: 2px;
       margin-right: 15px;
       padding: 2px;
}

TD.navtab {
       font-size: 70%;
}
A.qindexH {
        text-decoration: none;
        color: #ffffff;
}
A.qindexH:hover {
        text-decoration: none;
        color: #ffffff;
}
A.qindexH:visited {
        text-decoration: none;
        color: #ffffff;
}
A.qindex {
       text-decoration: none;
       font-weight: bold;
       color: #154374;
}
A.qindex:visited {
       text-decoration: none;
       font-weight: bold;
       color: #154374;
}
A.qindex:hover {
       text-decoration: none;
       background-color: #C30014;
}
A.qindexHL {
       text-decoration: none;
       font-weight: bold;
       background-color: #6666cc;
       color: #ffffff;
       border: 1px double #9295C2;
}
A.qindexHL:hover {
       text-decoration: none;
       background-color: #6666cc;
       color: #ffffff;
}
A.qindexHL:visited {
        text-decoration: none;
        background-color: #6666cc;
        color: #ffffff;
}

A:hover { text-decoration: none; color: #C30014 }

A.el { text-decoration: none; font-weight: bold; color: #154374  }
A.el:hover { text-decoration: none; font-weight: bold; color: #C30014 }
A.el:visited { text-decoration: none; font-weight: bold; color: #154374 }

A.elRef { font-weight: bold }
A.code:link { text-decoration: none; font-weight: normal; color: #0000FF}
A.code:visited { text-decoration: none; font-weight: normal; color: #0000FF}
A.codeRef:link { font-weight: normal; color: #0000FF}
A.codeRef:visited { font-weight: normal; color: #0000FF}

DL.el { margin-left: -1cm }
.fragment {
       font-family: monospace, fixed;
       font-size: 95%;
}
PRE.fragment {
       border: 1px solid #CCCCCC;
       background-color: #f0f0f0;
       margin-top: 4px;
       margin-bottom: 4px;
       margin-left: 2px;
       margin-right: 8px;
       padding-left: 6px;
       padding-right: 6px;
       padding-top: 4px;
       padding-bottom: 4px;
}
DIV.ah { background-color: black; font-weight: bold; color: #ffffff; margin-bottom: 3px; margin-top: 3px }

DIV.groupHeader {
       margin-left: 16px;
       margin-top: 12px;
       margin-bottom: 6px;
       font-weight: bold;
}
DIV.groupText { margin-left: 16px; font-style: italic; font-size: 90% }
BODY {
       background: white;
       color: black;
       margin-right: 20px;
       margin-left: 20px;
}
TD.indexkey {
       background-color: #f0f0f0;
       font-weight: bold;
       padding-right  : 10px;
       padding-top    : 2px;
       padding-left   : 10px;
       padding-bottom : 2px;
       margin-left    : 0px;
       margin-right   : 0px;
       margin-top     : 2px;
       margin-bottom  : 2px;
       border: 1px solid #CCCCCC;
}
TD.indexvalue {
       background-color: #f0f0f0;
       font-style: italic;
       padding-right  : 10px;
       padding-top    : 2px;
       padding-left   : 10px;
       padding-bottom : 2px;
       margin-left    : 0px;
       margin-right   : 0px;
       margin-top     : 2px;
       margin-bottom  : 2px;
       border: 1px solid #CCCCCC;
}
TR.memlist {
   background-color: #f0f0f0; 
}
P.formulaDsp { text-align: center; }
IMG.formulaDsp { }
IMG.formulaInl { vertical-align: middle; }
SPAN.keyword       { color: #008000 }
SPAN.keywordtype   { color: #604020 }
SPAN.keywordflow   { color: #e08000 }
SPAN.comment       { color: #800000 }
SPAN.preprocessor  { color: #806020 }
SPAN.stringliteral { color: #002080 }
SPAN.charliteral   { color: #008080 }
.mdescLeft {
        padding: 0px 8px 4px 8px;
        font-size: 80%;
        font-style: italic;
        background-color: #f0f0f0;
        border-top: 1px none #CCCCCC;
        border-right: 1px none #CCCCCC;
        border-bottom: 1px none #CCCCCC;
        border-left: 1px none #CCCCCC;
        margin: 0px;
}
.mdescRight {
        padding: 0px 8px 4px 8px;
        font-size: 80%;
        font-style: italic;
        background-color: #f0f0f0;
        border-top: 1px none #CCCCCC;
        border-right: 1px none #CCCCCC;
        border-bottom: 1px none #CCCCCC;
        border-left: 1px none #CCCCCC;
        margin: 0px;
}
.memItemLeft {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        font-size: 90%;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-color: #CCCCCC;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #f0f0f0;
}
.memItemRight {
        padding: 1px 8px 0px 8px;
        margin: 4px;
        font-size: 90%;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-color: #CCCCCC;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #f0f0f0;

}
.memTemplItemLeft {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-color: #CCCCCC;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #f0f0f0;
        font-size: 90%;
}
.memTemplItemRight {
        padding: 1px 8px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-color: #CCCCCC;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        background-color: #f0f0f0;
        font-size: 90%;
}
.memTemplParams {
        padding: 1px 0px 0px 8px;
        margin: 4px;
        border-top-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-left-width: 1px;
        border-top-color: #CCCCCC;
        border-right-color: #CCCCCC;
        border-bottom-color: #CCCCCC;
        border-left-color: #CCCCCC;
        border-top-style: solid;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        color: #606060;
        background-color: #f0f0f0;
        font-size: 90%;
}
.search {
        color: #003399;
        font-weight: bold;
}
FORM.search {
        margin-bottom: 0px;
        margin-top: 0px;
}
INPUT.search {
        font-size: 75%;
        color: #000080;
        font-weight: normal;
        background-color: #e8eef2;
}
TD.tiny {
        font-size: 75%;
}
a {
        color: #154374;
}

.anchor{
		color:#f7800a;
}
a:visited {
        color: #154374;
}
.dirtab {
        padding: 4px;
        border-collapse: collapse;
        border: 1px solid #84b0c7;
}
TH.dirtab {
        background: #e8eef2;
        font-weight: bold;
}
HR {
        height: 1px;
        border: none;
        border-top: 1px solid black;
}

/* Style for detailed member documentation */
.memtemplate {
        font-size: 80%;
        color: #606060;
        font-weight: normal;
} 
.memnav { 
        background-color: #e8eef2;
        border: 1px solid #84b0c7;
        text-align: center;
        margin: 2px;
        margin-right: 15px;
        padding: 2px;
}
.memitem {
        background-color: #F0F0F0;
        -moz-border-radius: 8px 8px 8px 8px;
        padding-bottom:1px;
        margin-bottom:27px;
        border:1px solid gray;
}
.memname {
        padding: 3px;
        white-space: nowrap;
        font-weight: bold;
}
.memdoc{
        padding-left: 10px;
}
.memproto {
        background-color: #CCCCCC;
        width: 100%;
        font-weight: bold;
        -moz-border-radius: 8px 8px 0px 0px;
}
.paramkey {
        text-align: right;
}
.paramtype {
        white-space: nowrap;
        font-weight: bold;
}
.paramname {
        color: #602020;
        font-style: italic;
        white-space: nowrap;
}
/* End Styling for detailed member documentation */

/* for the tree view */
.ftvtree {
        font-family: sans-serif;
        margin:0.5em;
}
.directory {
        font-size: 9pt; font-weight: bold;
}
.directory h3 {
        margin: 0px; margin-top: 1em; font-size: 11pt;
}
.directory > h3 {
        margin-top: 0;
}
.directory p {
        margin: 0px; white-space: nowrap;
}
.directory div {
        display: none; margin: 0px;
}
.directory img {
        vertical-align: -30%;
}


/* the main content of the page */
#content    {
        padding: 0em 1em 1em 1em;
        margin-left: 18em;
}

#content h2 {
        padding-left: 24px;
        background: url(section_head.png) no-repeat left center;
        position: relative;
}


.sidebar    {
        float: left;
        width: 17em;
        margin: 0em 0em;
        padding: 0em 0em;
        font-size: 100%;
        background-color: #f0f0f0;
        text-decoration: none;
        font-style: none;
        border-left: 1px solid #CCCCCC;
        -moz-border-radius: 0px 12px 12px 0px;
}

.sidebar-major {
        background-color:#003C87;
        color:white;
        padding-bottom:7px;
        padding-top:7px;
        padding-left:1.5em;
        font-size: 120%;
        -moz-border-radius: 0px 12px 12px 0px;
}

.sidebar ul {
        list-style: none;
}

.sidebar ul li:hover {
        list-style: disc;
}

.sidebar a {
        text-decoration: none;
}

.sidebar a:hover {
        text-decoration: none;
        color: #154374;
}


.docs-page-header {
        padding:5px 10px 5px 15px;
        color:white;
        font-weight:bold;
        background:#003C87;
        border: 1px solid gray;
        border-bottom: none;
        -moz-border-radius: 12px 12px 0px 0px;
        height:1.1em;
}

.docs-page-body {
        background:rgb(229, 229, 229);
        margin:0px;
        padding:10px;
        border: 1px solid gray;
        border-top: none;
        -moz-border-radius: 0px 0px 12px 12px;
        height:11em;
}

.docs-page-body ul {
        padding:0px;
        margin:0px;
        margin-left:35px;
}

.docs-page-body a {
       text-decoration: none;
}

body {
        margin:0px;
}

div.topheader {
        background:#4164a5;
        margin-bottom:20px;
}

div.topheader1 {
        background:#82a0cd;
        text-align:right;
        color:white;
        padding:0.8em;
}

div.topheader2 {
        margin-top:10px;
        background:#003c87;
        font-size:30px;
        color:white;
        font-weight:bold;
        padding:15px 0px 17px 20px;
}

div.logo {
        float:right;
        width:200px;
        margin:3px;
}

div.topmenu {
        color:white;
        background:#003c87;
        border-top:1px solid #4164a5;
        padding:5px 10px 5px 10px;
}
